.bar-positive {
  /* border-color: #0c60ee; */
  color: #fff; }

.home-container {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-flex-wrap: wrap;
  height: 100%;
  background: -webkit-linear-gradient(90deg, #6baecc, #6387c4 50%, transparent 140%);
  background-size: cover; }

.imageflottante {
  float: left; }

.pe {
  background-color: black;
  color: white;
  opacity: 0.6; }

.button {
  border-radius: 20px / 15px; }

.button:hover {
  opacity: 0.7; }

.home-container > .row {
  -webkit-flex: 1; }

.header {
  position: relative;
  -webkit-flex: 3 !important;
  -webkit-align-items: center; }

.logo {
  height: 140px;
  text-align: center; }

.login {
  position: relative;
  -webkit-flex: 2 !important;
  -webkit-align-items: center; }

.map {
  width: 100%;
  height: 80%; }

.contents {
  background: #e7ebf0; }

/*.main_menu{
    background: -webkit-linear-gradient(90deg, #6baecc, #6387c4 50%, transparent 140%);
}*/
.main-menu ion-content {
  background: -webkit-linear-gradient(90deg, #6baecc, #6387c4 50%, transparent 140%); }

.main-menu .menu-header-bar-title {
  font-size: 30px;
  font-weight: 500;
  color: #FFFFFF;
  position: absolute;
  bottom: 10px;
  right: 20px;
  margin: 0px; }

.menu-header-bar-title .uy {
  color: #254164;
  font-weight: 10px; }

.main-menu ion-item.item {
  border-right: none;
  border-left: none;
  background: #809ccc; }

.main-menu ion-item.item .item-content {
  background: #809ccc;
  padding: 20px;
  padding-right: 60px;
  text-align: right;
  transition: 0.3s; }
  .main-menu ion-item.item .item-content:hover {
    background: #627fb1; }

.main-menu ion-item.item .item-content .icon {
  width: 30px;
  right: 20px;
  left: initial; }

.main-menu ion-item.item .item-content .icon:before {
  color: #254164;
  font-size: calc(30px - 4px); }

.main-menu ion-item.item .item-content.activated {
  background: #627fb1; }

.main-menu ion-item.item .menu-text {
  color: #FFFFFF;
  font-weight: 500; }

.main-menu ion-item.item:first-child {
  border-top: none; }

.main-menu ion-item.item {
  border-bottom: none; }

.card {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s; }

.card:hover {
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3); }

ion-item.item.item-av {
  display: block;
  background-color: #FFC900;
  text-align: center; }

ion-item.item.item-av.item-content {
  color: aliceblue; }

/*ion-item.item.item-body{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #000;
     height: 350px;
    overflow: hidden;
}*/
.desc_event {
  padding: 10px 0px 20px 15px;
  overflow: hidden;
  background-color: #fff;
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  opacity: 08;
  bottom: 0; }

.social-bar {
  height: 40px;
  position: relative; }

.item-image {
  min-height: 60%;
  height: 280px; }

.event_title {
  text-decoration: none; }

.item-image {
  min-height: 60%;
  height: 280px; }

.timeline ul li {
  list-style-type: none;
  position: relative;
  left: 4px;;
  width: 4px;
  margin-left: 10px ;
  padding-bottom: 50px;
  background: rgba(108, 141, 230,1); }

.timeline ul li::before {
  content: '';
  position: absolute;
  left: 0;
  transform: translateX(-45%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit; }

.timeline ul li div {
  position: relative;
  bottom: 0;
  left: 35px;
  width: 250px;
  padding: 5px;
  background: rgba(108, 141, 230, 1); }

.timeline ul li div::before {
  content: '';
    left: -15px;
  position: absolute;
  top: 4px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgba(108, 141, 230, 1) transparent transparent; }

/*# sourceMappingURL=style.css.map */
